.containerTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 5px solid rgb(31, 29, 29);
}

.containerFirstSection {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}

.enjoyP {
  color: white;
}
